body{
    font-size: 30px;
}
progress{
    width: 24;
    max-height: 24px;
    border: 1px solid #407BFF;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    justify-content: end;
    outline: none;
    letter-spacing: 3px;
    background-image: url();
    position: relative;
    z-index: 999;
    fill: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

